---
import Navbar from "../components/navbar/navbar.svelte";
import Footer from "../components/footer/footer.svelte";

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar client:load />
		<div class="wrapper">
			<div class="main-body">
				<slot />
			</div>
		</div>
		<Footer client:idle />
		<style is:global>
			:root {
				--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
				--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
				--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

				--color-text: hsl(12, 5%, 4%);
				--color-bg: #e7eaee;
				--color-border: hsl(17, 24%, 90%);
			}

			html {
				font-family: system-ui, sans-serif;
				height: 90vh;
				font-size: var(--font-size-base);
				color: var(--color-text);
				background-color: var(--color-bg);
				overflow: hidden;
			}
			body {
				margin: 0;
			}
			.main-body {
				width: 100%;
				height: 83vh;
				background: #111418;
				border-radius: 25px;
			}

			.wrapper {
				width: 100%;
				height: 88vh;
				position: fixed;
				margin-top: 25px;
				margin-bottom: 20px;
				padding: 0 8px;
			}

			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
				.main-body {
					height: 76vh;
				} /* your css rules for ipad landscape */
			}

			/* Smartphones (portrait and landscape) ----------- */
			@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
				.main-body {
					height: 76vh;
				}

				.wrapper {
					margin-top: 20px;
				}
			}
		</style>
	</body>
</html>
